# macOS
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node
**/node_modules/
**/dist/
**/build/
**/.turbo/
**/.wa-auth/

# Env files
**/.env
**/.env.*
!**/.env.example

# IDE
.vscode/
.idea/

# Coverage
**/coverage/
**/.nyc_output/
